@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url('../images/gameofthronesbackground.jpg');
    background-position: center;
    background-size: cover;
}

header {
    text-align: center;
    position: fixed;
    top: 0;
    color: #fafafa;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: #563e4d;
    color: #fafafa;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-square {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}